/* /home/hamyar/Desktop/My_Folder/Frontend/src/assets/main.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Flowbite */
@import "flowbite";

@layer base{
    @font-face {
        font-family: 'QCF_BSML';
        src: url('/public/fonts/QCF_BSML.TTF');
    }
}

@layer components{
    .drawer-transition {
        transition: transform 0.3s ease-in-out;
    }
    /* انیمیشن مودال */
    .fade-enter-active, .fade-leave-active {
    transition: opacity 0.3s;
    }
    .fade-enter-from, .fade-leave-to {
    opacity: 0;
    }

    /* انیمیشن اسلایدبار */
    .slide-enter-active, .slide-leave-active {
    transition: transform 0.3s ease;
    }
    .slide-enter-from {
    transform: translateX(-100%);
    }
    .slide-leave-to {
    transform: translateX(-100%);
    }

    .custom-offcanvas::-webkit-scrollbar {
    width: 10px;
    }

    .custom-offcanvas::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2); /* پیش‌فرض لایت */
    border-radius: 4px;
    }

    /* حالت دارک */
    .dark .custom-offcanvas::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3); 
    }


}